<th:block xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:fragment="end">
    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>             <!-- jQuery (https://jquery.com/download/) -->
    <!--<script th:src="@{/js/popper.min.js"}></script>                     https://popper.js.org/ -->
    <script th:src="@{/js/bootstrap.min.js}"></script>                 <!-- https://getbootstrap.com/ -->
    <script th:src="@{/js/datepicker.min.js}"></script>                <!-- https://github.com/qodesmith/datepicker -->
    <script th:src="@{/js/jquery.singlePageNav.min.js}"></script>      <!-- Single Page Nav (https://github.com/ChrisWojcik/single-page-nav) -->
    <script th:src="@{/slick/slick.min.js}"></script>                  <!-- http://kenwheeler.github.io/slick/ -->
    <script th:src="@{/js/jquery.scrollTo.min.js}"></script>           <!-- https://github.com/flesler/jquery.scrollTo -->



</th:block>


